.goal__card {
  min-height: 11rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: white;
  background-color: #FF914D ;
  
}

.goal__card-empty {
  min-height: 11rem;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: white;
  background-color:#FF914D;
}

.goal__add-button {
  min-height: 11 rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goalList {
  padding-left: 0rem;
}