* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.table {
  border: black;
}