* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.table {
  border: black;
}

.page{
  margin-bottom: 40rem;
}