.goals {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 0;
  width: 100%;
}

.milestone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 0;
  width: 100%;
}

.goals_sidebar {
  display: flex;
  flex-direction: column;
}